*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    outline: none;
}
/* *::before {
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
*:focus {
    outline: none;
} */

html {
    font-size: 90%;
    box-sizing: initial;
    line-height: 1.2;
    background-color: #ecf0f3;
    transition: background 0.2s linear;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.mode{
    padding: 4%;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.checkbox:checked + .label .ball {
    transform: translatex(24px);
}
label {
    display: flex;
    position: relative;
    background-color: #010e18;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    transform: scale(1.2);
    cursor: pointer;
}
label .fa-moon {
    color: #4D4C7D;
}
label .fa-sun {
    color: #f1c40f;
}
label .ball {
    width: 21px;
    height: 21px;
    background-color: #fff;
    position: absolute;
    border-radius: 50px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s linear;
}

.container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 22.5px;
    box-shadow: inset 5px 5px 12px #ffffff,
    5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 60px);
}

input{
    grid-column: span 4;
    height: 100px;
    width: 240px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(126, 67, 67, 0.16);
    border: none;
    border-radius: 10px;
    color: rgba(70,70,70);
    font-size: 1.7rem;
    text-align: end;
    margin: 10px auto 25px;
    padding: 20px;

}

button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
    5px 5px 12px rgba(126, 67, 67, 0.16);
    border: none;
    border-radius: 50%;
    margin: 7px;
    font-size: 1.15rem;
}

.clear, .delete{
    color:rgb(245, 80, 39);
}

.operator{
    color:rgb(245, 80, 39);
}

.equal{
    /* width: 108px;
    border-radius: 40px;
    background-color: #ecf0f3; */
    box-shadow: -5px -5px 12px #ffffff,
    5px 5px 12px rgba(126, 67, 67, 0.16);
    color: #15e38a;
    font-size: 1.25rem;
}

button:active{
    box-shadow: -5px -5px 12px #ffffff,
    5px 5px 12px rgba(126, 67, 67, 0.16),
    inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(126, 67, 67, 0.16);
}

/* Dark Theme */

html[data-theme="dark"] {
    font-size: 90%;
    box-sizing: initial;
    line-height: 1.2;
    background-color: #303a4d;
    /* background-color: #263238; */
    transition: background 0.2s linear;
}

[data-theme="dark"] .calculator{
    background-color: #010e18;
    padding: 15px;
    border-radius: 22.5px;
    box-shadow: inset 5px 5px 12px #0d1725,
    5px 5px 12px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 60px);
}

[data-theme="dark"] input{
    grid-column: span 4;
    height: 100px;
    width: 240px;
    background-color: #010e18;
    box-shadow: inset -3px -3px 12px #0d1725,
    inset 5px 5px 5px #040207;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    text-align: end;
    margin: 10px auto 25px;
    padding: 20px;
}

[data-theme="dark"] button{
    height: 48px;
    width: 48px;
    background-color: #010e18;
    box-shadow: -5px -5px 12px #0d1725,
    5px 5px 12px #040207;
    border: none;
    border-radius: 50%;
    margin: 7px;
    font-size: 1.15rem;
}

[data-theme="dark"] .number,
[data-theme="dark"] .decimal{
    color: #ecf0f3;
}

[data-theme="dark"] .equal{
    box-shadow: -5px -5px 12px #0d1725,
    5px 5px 12px #040207;
    color: #15e38a;
    font-size: 1.25rem;
}

[data-theme="dark"] button:active{
    box-shadow: -5px -5px 12px rgba(20, 2, 20, 0.16),
    5px 5px 12px #040207,
    inset -5px -5px 12px rgba(20, 2, 20, 0.16),
    inset 5px 5px 12px #0d1725;
}
